* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Montserrat", sans-serif;
    color: #404040;
    margin: 1vw;
    background-color: #f5d98057;
}
  
h1 {
    font-size: 60px;
    text-align: center;
  }
  
/* imagem */
img {
    width: 15vw;

}
.logo{
    width: 10vw;
    height: 10w;
}
/* link para trocar de pagina */
ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 20px;
}
  
li {
    margin: 0 10px;
}
a {
  text-decoration: none;
  font-size: 25px;
  color:#404040;
}
h2 {
    font-size: 32px;
    color: #f2a80b;
    text-align: center;
}
p {
  font-size: 25px;
  font-style: italic;
  line-height: 45px;
  word-spacing: 5px;
  text-indent: 30px;
  text-align: center;
}

.menu{
    position: relative;
    top: -7vw;
}

.gale{
    display: grid;
    text-align: center;
    grid-auto-rows: 10w;
    grid-template-columns: repeat(auto-fit, 5fr);
    gap: 0.8vw;
    grid-template-areas: 

    'textoga    textoga     textoga     textoga'
    'area1      area2       area3       pisina2'
    'area4      area5       area6       pisina2'
    'recp       jogos       hidro       pisina'      
    'textovis   textovis    textovis    textovis'
    'vis1       vis2        vis3        vis7'        
    'vis4       vis5        vis6        vis7'    
    ;
}


.textoga{grid-area: textoga;}
.area1{grid-area: area1;}
.area2{grid-area: area2;}
.area3{grid-area: area3;}
.area4{grid-area: area4;}
.area5{grid-area: area5;}
.area6{grid-area: area6;}
.recp{grid-area: recp;}
.jogos{grid-area: jogos;}
.hidro{grid-area: hidro;}
.pisina{grid-area: pisina;}
.pisina2{grid-area: pisina2;}
.textovis{grid-area: textovis;}
.vis1{grid-area: vis1;}
.vis2{grid-area: vis2;}
.vis3{grid-area: vis3;}
.vis4{grid-area: vis4;}
.vis5{grid-area: vis5;}
.vis6{grid-area: vis6;}
.vis7{grid-area: vis7;}