body{
  font-family: "Montserrat", sans-serif;
  color: #404040;
  margin: 45px;
  background-color: #cccbcb42;
}

header{
  height: 120px;
}

h1{
  font-size: 50px;
  text-align: center;
}

/* logo */
img{
  width: 165px;
  position: relative;
  top: -123px
}

/* link para trocar de pagina */
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
li{
  list-style: none;
  
}
a{
  text-decoration: none;
  font-size: 20px;
  color: #404040;
}
.paginas{
  margin: -150px;
}

/* cor do fundo do formulário */
section{
  background-color: #3c656339;
}

h3{
  font-size: 25px;
}

legend{
  font-size: 20px;
}

fieldset{
  border:2px dotted;
  border-color: #3C6563;
  border-spacing: 5px;
  
}

.idInfoHospede{
  width: 93%;
  height: 115px;
  
}

.tel{
  font-size: 20px;
  position: relative;
  left: 250px;
  top: -19px;
}

.email{
  position: relative;
  left: 520px;
  top: -38px;
}

.idHospedes{
  width: 45%;
  height: 80px;
  
}

.idEstadia{
  width: 45%;
  height: 80px;
  position: relative;
  left: 860px;
  top: -78px;

}

.idAcomodacao{
  width: 45%;
  height: 80px;
  position: relative;
  top: -78px;
}

.idPet{
  width: 45%;
  position: relative;
  left: 860px;
  top:-156px;
}

.obs{
  width: 93%;
  position: relative;
  top:-156px;
}
